#main-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#main-container img {
  width: 70%;
  align-self: center;
}

#main-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#main-container form input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 30px;
}

#main-container form button {
  height: 48px;
  background: #3b007a;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
  margin-top: 10px;
  border: 0;
  cursor: pointer;
}

#main-container form button:hover {
  opacity: 0.8;
}
